---
---

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

@import "p2pu-css-framework/p2pustrap";

{% if site.jumbotron_color %}
	$jumbotron-color: {{ site.jumbotron_color }};
{% else %}
 $jumbotron-color: $p2pu-blue;
{% endif %}

{% if site.jumbotron_background_image %}
	$jumbotron-image: '{{ site.jumbotron_background_image }}';
{% else %}
	$jumbotron-image: 'banner.svg';
{% endif %}

@import "common";
@import "nav";
@import "landing";
@import "calendar";


