<div id="category-gallery" class="gallery-content">
  <div class="post row">
    <div class="col-lg-12">
      <div class="post-container">
        <h3 class="title">Title</h3>
        <img class="profile-image" src="http://placehold.it/50x50">
        <h4 class="author">Author</h4>
        <p class="post-text">Post body text.</p>
      </div> 
      <a class="post-link" href="http://example.net" target="_blank">Read more</a>
    </div>
  </div>
</div>

<script>
  window.forumUrl = "{{include.forum_url}}";
  window.galleryCategory = "{{include.category}}";
</script>
