<footer class="p2pu-footer">

	<div class="container">
<center>
		<ul class="footer-social clearfix">
			<li><a target="_blank" href="http://discourse.statseducation.com/"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/sullivanstats"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.github.com/sullivanstatistics">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.linkedin.com/in/sullivanstats/"
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
		</ul>

	</center>
</footer>

