<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="https://groups.google.com/forum/#!forum/openbadges" title="Open Badges Google Group"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/search?q=%23openbadges&src=typd" title="#openbadges on Twitter"><i class="fa fa-twitter"></i></a>
			</li>
		</ul>

		<hr>
		<div class="col-md-4 first"><img align=right src="{{ site.baseurl }}/img/TOOC.png" style="width:30%; margin-left:10px; margin-top: 10px; margin-bottom:10px">
			<h4>Think Out Loud Club</h4>

			<p>
				The <a href="http://thinkoutloudclub.com">Think Out Loud Club</a> is an active community of learning technology evangelists who share successes and pain to support each other on the Further Education sector’s journey to becoming more digital. Are you prepared to think out loud?
			</p>

		</div>

		<div class="col-md-4 col-md-offset-1">
			<h4>Licensing</h4>
<!--			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="/en/terms/">
						Terms of Use
					</a>
				</li>
			</ul>
-->
<p><img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon"></p>

<p>
	Unless otherwise stated, everything on this site is licensed under a
	<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
		Creative Commons Attribution Share Alike 4.0</a> Unported license.
</p>
<p>Built using P2PU's <a href="https://github.com/p2pu/course-in-a-box">Course in a Box</a>.</p>

		</div>


		<div class="pull-right col-md-3">

			<p align="right">
				<br>
				<a href="http://cityandguilds.com">
					<img src="{{site.baseurl}}/img/CG-logo.png" alt="City &amp; Guilds">
				</a>
			</p>
		</div>

	</div>

</footer>
