<style>
.bg-dark {
	background-color: #1a1a1a !important;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
}

.navbar-nav .nav-item {
	margin-right: 15px;
}
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-md py-0 navbar-dark bg-dark text-light">
	<a class="navbar-brand" href="{{site.baseurl}}/"><i class="fa fa-home"></i></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars"></i>
	</button>
	<div class="navbar-collapse collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" onclick="window.location.replace('modules/setup/getting-started/')" target="_blank">Length</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/modules/content/homepage/" target="_blank">Girth</a>
			</li>
		</ul>
	</div>
</nav>
