body{
	background-color: $gray-lighter;
}
.background-white{
	padding: 60px 0;
	background-color: $white;
}
.p2pu-footer{
	margin-top: 0;
}
.sidebar{
	padding: 60px 0;
}
.sidebar ul{
	list-style-type: none;
}