body {
	background-color: white;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    //line-height: 3;
  }
}

.navbar {
  a, .nav-link, button {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
  }
}

.nav-item.active, .nav-item:hover {
  background-color: #707782;
	transition: all 0.3s linear;
}

.nav-link{
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.jumbotron {
	background: 
    url('../#{$jumbotron-mask}') repeat, 
    url('../#{$jumbotron-image}') center/$jumbotron-image-size $jumbotron-color;
	color: $white;
  text-shadow: 5px 5px 10px $gray-darker;

	a {
		color: #fcfcfc;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: all 0.3s linear;
	}
	a:hover, a:focus {
		border-bottom: none;
		text-decoration: none;
	}

}

.jumbotron header h1 {
	font-family: $font-family-sans-serif;
	font-size: 4em;
}

.content {
  margin-top: 1em;
	line-height: 2;
}

.content img {
    max-width: 100%;
}

blockquote {
  padding: 1.2em;
  margin: 0;
  border: 0;
  background: #DFF7F4;
  font-style: normal;
  font-size: inherit;
  border-left: 7px solid $p2pu-light-blue;
}

pre {
  border-left: 7px solid $gray-light;
  padding: 1em;
  background-color: $gray-lighter;
  line-height: 1.2;
}

code {
  background-color: $gray-lighter;
}

section {
	margin: 3em 0;
	font-size: large;
	line-height: 1.8;
}

.sidebar {
	background-color: $gray-lighter;
  font-size: 15px;
  padding-bottom: 10px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar li {
	padding-right: 1em;
	position: relative;
	@include transition(color, 0.3s, linear);
}

.sidebar li:hover {
	background-color: cadetblue;

	a:hover, a:focus {
		text-decoration: none;
		color: $white;
	}
  .pagination-section {
    margin: 1em 0;
  }
}

.sidebar li.active {
	background-color: $white;
}

.sidebar li.active a:hover {
	color: cadetblue;
}

.sidebar li a {
	display: block;
  padding: 0.8em 0.5em;
	text-transform: uppercase;
	@include transition(color, 0.3s, linear);
}

.pagination-section .title {
	color: $gray;
	line-height: 2;
}

.pagination-section {
	.next, .prev {
		text-transform: uppercase;
	}
}

.pagination-section .next:after {
	content: "\f0da";
	font-family: FontAwesome;
}

.pagination-section .prev:before {
	content: "\f0d9";
	font-family: FontAwesome;
}


@include media-breakpoint-up(md) {
  .sidebar {
	  padding: 60px 0;
  }

  .sidebar li {
	  padding-left: 60px;
  }

  .sidebar li:before {
    content: "";
    border-left: 3px solid #aab0bf;
    position: absolute;
    left: 40px;
    height: 100%;
    top: 0;
  }

  .sidebar li.first:before {
    height: 50%;
    top: 50%;
  }

  .sidebar li.last:before {
    height: 50%;
    top: 0;
  }

  .sidebar li.first.last:before {
    height: 0;
    top: 0;
  }

  .sidebar li a {
    padding: 1.2em 0;
  }

  .sidebar li a:before {
    content: "\f005";
    font-family: FontAwesome;
    color: cadetblue;
    position: absolute;
    left: 29px;
    line-height: 1.7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid $gray;
    top: 18px;
    background-color: white;
    text-align: center;
    font-size: 0.8em;
  }

  .sidebar li.active a:before {
    content: "\f04b";
  }

  .sidebar li a:after {
    content: "";
  }

  .sidebar .pagination-section {
    padding-left: 60px;
  }

}

#ghUsername-box {
	position: relative;
	background: $gray-lighter;
	padding: 10px 20px;

	.ghUsername-set {
		@extend .h2;
		padding: 7px 15px;
		display: block;
		margin: 0;

		&:hover {
			text-decoration: none;
		}

	}
	.label {
		position: absolute;
		top: 0;
		right: 0;
    padding: 0 5px;
    background-color: $gray-darker;
    color: white;
    font-size: 12pt;
    font-style: italic;
	}
}

.gh-username-set {
	input {
		padding: 4px;
	}
	button {
		margin-top: -5px;
	}
}

footer {
  padding: 2em 0;
  background-color: $gray-dark;
  color: $gray-lighter;
  text-align: center;
  font-size: 12pt;
  a {
    color: #FCFCFC;
    border-bottom: 1px dotted;
    text-decoration: none;
    transition: all 0.3s linear;
  }
  a:hover {
    border: none;
    color: #FCFCFC;
    text-decoration: none;
    transition: all 0.3s linear;
  }
}
