section {
	margin: 3em 0;
	font-size: large;
	line-height: 1.8;
}

.jumbotron {
	background: $p2pu-blue url('../img/banner.svg') bottom center no-repeat;
	background-size: auto;
	color: $white;

	a {
		color: #fcfcfc;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: all 0.3s linear;
	}
	a:hover, a:focus {
		border-bottom: none;
		text-decoration: none;
	}
}

.jumbotron header h1 {
	font-family: $font-family-sans-serif;
	font-size: 4em;
}
.people{
	background-color: $white;
	margin-bottom: 0;
}
.people li {
	margin: 30px 10px;
}

.people img {
	max-width: 100%;
	height: 85px;
	width: 85px;
}