section {
	margin: 3em 0;
	font-size: large;
	line-height: 1.8;
}

.light-section{
	background-color: $white;

	hr{
		border-color: $gray-lighter;
	}
}
.dark-section{
	background-color: $gray-lighter;

	hr{
		border-color: $white;
	}
}
.jumbotron {
	background: #87CEFA;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-image: url('../img/#{$jumbotron-image}');
	background-size: auto;
	color: $white;
	position: relative;

	a {
		color: #fcfcfc;
		border-bottom: 1px dotted;
		text-decoration: none;
		transition: all 0.3s linear;
	}
	a:hover, a:focus {
		border-bottom: none;
		text-decoration: none;
	}

}

.jumbotron header h1 {
	font-family: $font-family-sans-serif;
	font-size: 4em;
}

.calendar{
	background-color: $white;
	padding: 50px 0 70px 0;
}

.people {
	margin-bottom: 0;
}

.people li {
	margin: 30px 10px;
}

.people img {
	max-width: 100%;
	height: 85px;
	width: 85px;
}