.navbar{
	border-bottom-width: 45px;
}
.navbar-default .navbar-nav .dropdown-menu > li > a {
	color: #fcfcfc;
}

.dropdown.open .dropdown-item:after {
	content: "\f0d8";
	font-family: FontAwesome;
	position: absolute;
	bottom: 0;
	line-height: 7px;
	left: 50%;
	z-index: 1000;
	color: #707782;
	margin-left: -10px;
	font-size: 25px;
}

.dropdown.open .dropdown-menu a.active:after {
	content: "\f0d8";
	font-family: FontAwesome;
	position: absolute;
	bottom: 0;
	color: #ffffff;
	font-size: 20px;
	line-height: 4px;
	margin-left: -5px;
	left: 50%;
	z-index: 1000;
}

.navbar-nav .dropdown-menu > li{
	position: relative;
}
