.navbar.navbar-default {
	margin-bottom: 0;
}

.p2pu-logo {

	position: absolute;
	right: 0;
	top: 0;

	img {
		// width: 75px;
		min-height: 100%;
		max-height: 350%;
		margin: auto;
		margin-top: 0;
		margin-bottom: 0;
		border-style: none;
		padding: 0;
	}
}
