---
layout: base
---
<div class="clearfix">
	{% include side_toolbar.html %}
	<div class="col-md-9 background-white">
		<div class="col-md-8 col-md-offset-1">
			<div class="row">
				<div class="content col-lg-12">
					{{ content }} {% assign module=page.categories[0] %} {% include next_in_module.html %}

					{% if prev %}
					<p>
						<a rel="prev" href="{{ site.baseurl }}{{ prev.url }}">&larr; Go back to
							{{prev.title}} </a>
					</p>
					{% endif %} {% if next %}
					<p>
						<a rel="next" href="{{ site.baseurl }}{{ next.url }}"> Move on to
							{{next.title}} &rarr;
						</a>
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
