---
layout: base
---

<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
		{% if site.jumbotron_image %}
		<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}" alt="{{ site.title }} Icon" />
		{% endif %}
		<header>
			<h1>{{ site.data.course.description }}</h1>
		</header>

		<p>
			<a class="btn btn-danger btn-lg"
			   href="{{site.baseurl}}/modules/start/about-this-course/">
				Start Your Own Course
			</a>
		</p>

		<h3>In collaboration with <a href="http://p2pu.org">P2PU</a>.</h3>

	</div>

</div>
<div class="container">
	<div class="clearfix">
		<div class="col-md-8 col-md-offset-2">
			<section>
				{{ content }}
			</section>
		</div>
	</div>
</div>
<section class="people clearfix">
	<div class="container">
		<h2>Who else is here?</h2>
		<hr />
		<ul class="list-inline">
			{% for user in site.data.course.signups %}
				<li class="col-md-1">
					<a href="https://twitter.com/{{ user.twitter }}" target="_blank"> <img
							class="img-circle profile-picture" src="{{ user.image }}"
							alt="{{ user.name }}"> </a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
